<ion-view >
  <ion-content>

    <div class="item item-input createTask">
      <input type="text" placeholder="Enter a username" ng-model="login.username" required/>
    </div>

    <div class="item item-input createTask">
      <input type="password" placeholder="Enter a password" ng-model="login.password" required/>
    </div>

    <div class="item item-input createTask">
      <input type="password" placeholder="Confirm password" ng-model="login.confirmPassword" required />
    </div>

    <button class="button button-small signup" ng-click="signUp()">Sign Up
    </button>

  </ion-content>
</ion-view>
